.todoFormContainer {
  margin-bottom: 15px;
  padding: 0px 3px 0px 5px;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.todoFormContainer input {
  width: 70%;
  height: 30px;
  font-size: 1.1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
